
@{
    ViewData["Title"] = "dashboard";
}


<div class="row">
    <div class="col-md-3">
        <partial name="~/Views/Shared/_RightMenuCoachPartial.cshtml" />
    </div><!-- col-md-3 -->

    <div class="col-md-9">
        <partial name="~/Views/Shared/_StatisticPartial.cshtml" />
    </div> <!-- col-md-9 -->
</div> <!-- row -->