<div class="Item-ment">
    <ul>
        <li>
            <a asp-controller="Trainee" asp-action="dashboard">
             <i class="fas fa-home"></i>  الرئيسية</a>
        </li>
        <li>
            <a asp-controller="Trainee" asp-action="MyProfile">
             <i class="fas fa-id-badge"></i> ملفي</a>
        </li>
        <li>
            <a asp-controller="Trainee" asp-action="MyRequests">
                <i class="fas fa-receipt"></i> طلباتي </a>
        </li>
        @*<li>
            <a asp-controller="Trainee" asp-action="Settings">
                <i class="fas fa-user-cog"></i> الإعدادات</a>
        </li>*@
    </ul>
</div>
@*<div class="ads-box">
    <div class="insaid-text"> ADS </div>
</div>*@