<div class="astatistic-box">
    <div class="row">
        <div class="col-md-3">
            <div class="open-order">
                <label>الطلبات المفتوحة  </label>
                <h4> @ViewBag.openTicket </h4>
            </div><!-- open-order -->
        </div> <!-- col-md-4 -->

        <div class="col-md-3">
            <div class="open-order">
                <label>الطلبات المغلقة  </label>
                <h4> @ViewBag.CloseTicket </h4>
            </div><!-- open-order -->
        </div> <!-- col-md-4 -->

        <div class="col-md-3">
            <div class="open-order">
                <label>  ساعات التدريب </label>
                <h4> 3 <span> ساعات </span> </h4>
            </div><!-- open-order -->
        </div> <!-- col-md-4 -->

        <div class="col-md-3">
            <div class="open-order">
                <label>المبلغ المستحق  </label>
                <h4> 750 <span> ريال </span> </h4>
            </div><!-- open-order -->
        </div> <!-- col-md-4 -->
    </div> <!-- row -->

</div> <!-- astatistic-box -->