@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div class="text-box">
            <h3>  أكس بروجكت</h3>
            <p>
               منصة تجمع بين الباحثين عن مدرب لتعليم القيادة والمدربين 
            </p>

        </div>
    </div>

    <div class="col-md-6">
        <div class="img-box">
            <img src="~/images/car03.jpg" />
            
        </div>
    </div>
</div>


﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div class="text-box">
            <h3>  أكس بروجكت</h3>
            <p>
               منصة تجمع بين الباحثين عن مدرب لتعليم القيادة والمدربين 
            </p>

        </div>
    </div>

    <div class="col-md-6">
        <div class="img-box">
            <img src="~/images/car03.jpg" />
            
        </div>
    </div>
</div>

