@model ApplactionUsers
@{
    ViewData["Title"] = "register";
    Layout = "_FristPageLayout";
}


<div class="box-img-login">

</div>

<div class="box-login m-1">
    <div class="form-group">
        <label> التسجيل  كـ</label>
        <select asp-for="rolls" class="form-control">
            <option value="1">مدرب</option>
            <option value="2">متدرب</option>
        </select>
    </div>

    <div class="form-group">
        <label>
            <i class="fas fa-id-card"></i>
            رقم الهوية
        </label>
        <input asp-for="nationalId"  class="form-control" placeholder="national Id" type="text" maxlength="10" pattern="([0-9]|[0-9]|[0-9])" required />
    </div>


    <div class="form-group">
        <label>
            <i class="far fa-envelope"></i>
            البريد الإلكتروني
        </label>
        <input asp-for="Email" type="email" class="form-control" placeholder="Email" required/>
    </div>

    <div class="form-group">
        <label>
            <i class="fas fa-unlock-alt"></i>
            كلمة المرور
        </label>
        <input id="password" asp-for="Password" class="form-control" type="password" placeholder="password" required />
    </div>

    <div class="form-group">
        <label>
            <i class="fas fa-unlock-alt"></i>
            تأكيد كلملة المرور
        </label>
        <input id="confirm_password"  asp-for="Confirmpassword" class="form-control" type="password" placeholder="Confirm password" required />
    </div>

    <div class="form-group">
        <input  type="submit" class="btn btn-primary btn-color" value="تسجيل " />
        <br />  <br />
        <a href="#">  نسيت كلمة المرور؟</a>
        <br />
        <a asp-controller="Home" asp-action="login">  هل لديك حساب؟</a>
    </div>
</div> <!--  box-login -->


