
@{
    ViewData["Title"] = "MyProfile";
}


<section class="section-myProfile">
    <div class="row">

        <div class="col-md-4">
            <partial name="~/Views/Shared/User/_RightMenuUserPartial.cshtml" />
        </div>

        <div class="col-md-8">

            <div class="form-group">
                <label> رقم الهوية</label>
                <input readonly value="@ViewBag.Info.nationalId" class="form-control" />
            </div>

            <form method="post">


                <div class="form-group">
                    <label>  الاســــم </label>
                    <p> @ViewBag.Info.Name</p>
                </div>
                <br />
                <div class="form-group">
                    <div class="box-days">
                        <label> البريد الإلكتروني </label>
                        <p> @ViewBag.Info.Email</p>
                    </div>
                </div>

               

                <div class="form-group">
                    @*K<input type="submit" value=" حفــظ" class="btn btn-color coolor-White" />*@
                </div>
            </form>
        </div>
    </div>
</section>