
@{
    ViewData["Title"] = "Settings";
}

<section class="section-myProfile">
    <div class="row">

        <div class="col-md-4">
            <partial name="~/Views/Shared/User/_RightMenuUserPartial.cshtml" />
        </div>

        <div class="col-md-8">

            <div class="form-group">
                <label> ....... </label>
                <input readonly value="" class="form-control" />
            </div>

            <form method="post">

                <div class="form-group">
                    <label>  ....... </label>
                </div>
                <br />
                <div class="form-group">
                    <div class="box-days">
                        <label> ....... </label>

                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value=" حفــظ" class="btn btn-color coolor-White" />
                </div>
            </form>
        </div>
    </div>
</section>

