@model ApplactionUsers
@{
    ViewData["Title"] = "Settings";
}

<section class="section-myProfile">
    <div class="row">

        <div class="col-md-4">
            <partial name="~/Views/Shared/User/_RightMenuUserPartial.cshtml" />
        </div>

        <div class="col-md-8">
            <form method="post" asp-controller="Trainee" asp-action="Settings">
                <div class="form-group">
                    <label> الاســـم </label>
                    <input asp-for="Name" class="form-control" />
                </div>

                <div class="form-group">
                    <label> كلمة المرور </label>
                    <input asp-for="Password" type="password" value="@Model.Password" class="form-control" />
                </div>

                <div class="form-group">
                    <label>  تأكيد كلمة المرور </label>
                    <input asp-for="Confirmpassword" type="password" value="@Model.Confirmpassword" class="form-control" />
                </div>

                <br />
                <div class="form-group">
                    <div class="box-days">
                        <label> البريد الإلكتروني </label>
                        @*<label>@Model.Email</label>*@
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value=" حفــظ" class="btn btn-color coolor-White" />
                </div>
            </form>
        </div>
    </div>
</section>

